<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}bootstrap/css/bootstrap.css">
    <style type="text/css">
        body {
        padding-top: 50px;
        }
        .starter-template {
        padding: 40px 15px;
        text-align: center;
        }
    </style>

</head>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="starter-template">
        <form method="POST" action="{{request.path}}">
            {%csrf_token%}
            <input type="text" name="term" id="term" placeholder="enter term to search for"/>
        </form>
        {% for res in results %}
        <ul>
            {%for key,val in res.items%}
            {% ifequal 'movie_details' key%}
            {%for each_item in val%}
            <li> {{each_item.0}} : {{each_item.1}}</li>
            {%endfor%}
            {%else%}
            <h4>{{key}}: {{val}}</h4>
            {%endifequal%}
            {%endfor%}
        </ul>
        <hr/>
        {%endfor%}
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{MEDIA_URL}}bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
